.login-container {
  .mat-card {
    background-color: white;
    width: 30%;
    height: 30rem;

    .title {
      font-size: 5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    mat-form-field {
      &:first-of-type {
        margin-top: 1rem;
      }

      width: 80%;

      button {
        margin-bottom: 1rem;
      }
    }

    mat-tab-group {
      height: 80%;
    }

    form {
      height: 100%;
    }

    .mat-tab-body-wrapper {
      height: 80%;
    }
  }
}
