/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber";

body { margin: 0; font-family: SansSerif, "Arial", sans-serif; }

$background: #DADADA;

html, body {
  height: 100%;
}

body {
  background: $background;
}
